<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome!</title>
    <%- include ./header.html -%>
  </head>
  <body>
    <%- include nav.html -%>
    <div class="card">
      <h1><i class="icon-home"></i><span> Welcome to TBC!</span></h1>
      <section class="card-cont">
        <p class="desciption">This is a test page, tests for javascript & CSS & images version to makes browser clear cache automatic when the static files was changed;</p>
        <section class="content">
          <p>Locating at <strong>homepage</strong>.</p>
          <p>Current version is: <strong class="version"><%= VERSION %></strong>;</p>
        </section>
      </section>
      <footer>
        <p>&copy;&nbsp;www.21tb.com  &nbsp;&nbsp;&nbsp;@&nbsp;luozhihua.com</p>
      </footer>
    </div>
  </body>
</html>